<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- NavBar -->
<div class="card-container">
  <div class="navbar-and-texto" role="banner">
    <span class="ajuste-texto"></span>
    <span>Olá, (usuário)</span>
    <div class="spacer"></div>
    <div class="card-container">
      <div class="card-container">
        <a target="_blank" rel="noopener">
          <i class="padrao-icone-imc fa fa-bell-o" aria-hidden="true"></i>
        </a>
      </div>
      <div class="card-container">
        <a target="_blank" rel="noopener">
          <i class="padrao-icone-imc fa fa-user-circle" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>


  <div class="content" role="main">

    <!-- Card Nome Plano Saude -->
    <div class="card highlight-card card-small">
      <span>Saúde Plus</span>
    </div>

    <!-- Menu itens -->
    <h2>Saúde Plus, a plataforma amiga da sua SAÚDE.</h2>

    <div class="card-container">
      <a class="card" target="_blank" rel="noopener">
        <i class="padrao-icone-imc fa fa-balance-scale"></i>
        <span (click)="abrirModalImc()">Calcule seu IMC</span>
        <div></div>
      </a>
    </div>

    <div class="card-container">
      <a class="card" target="_blank" rel="noopener">
        <i class="padrao-icone-especialista fa fa-user-md"></i>
        <span>Fale com especialista</span>
      </a>
    </div>

    <div class="card-container">
      <a class="card" target="_blank" rel="noopener" href="C:\Users\tchag\Desktop\Saude++\SaudePlus\src\app\imc">
        <i class="padrao-icone-alimento fa fa-cutlery"></i>
        <span>Monte sua dieta</span>
      </a>
    </div>

    <div class="card-container">
      <a class="card" target="_blank" rel="noopener" href="C:\Users\tchag\Desktop\Saude++\SaudePlus\src\app\imc">
        <i class="padrao-icone-emagrecimento fa fa-fire"></i>
        <span>Plano de emagrecimento</span>
      </a>
    </div>

    <!-- Rodapé -->
    <footer>
      Sua saúde, nossa prioridade!?&nbsp;
      <a href="https://www.paypal.com/donate?business=HGPG62DKUFQFS&no_recurring=0&item_name=Colabora%C3%A7%C3%A3o+com+um+projeto+relacionado+a+%C3%A1rea+da+sa%C3%BAde&currency_code=BRL"
        target="_blank" rel="noopener"> Colabore com o projeto.
        <div class="github-star-badge">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
          </svg>
          Colabore
        </div>
      </a>
      <a href="https://www.paypal.com/donate?business=HGPG62DKUFQFS&no_recurring=0&item_name=Colabora%C3%A7%C3%A3o+com+um+projeto+relacionado+a+%C3%A1rea+da+sa%C3%BAde&currency_code=BRL"
        target="_blank" rel="noopener">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </a>
    </footer>
    <div>
      <span>Copyright &copy; Saúde Plus 1.0 2021</span>
    </div>
  </div>
  <router-outlet></router-outlet>